/* nunito-sans-300 - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/nunito-sans-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nunito-sans-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-sans-regular - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: 
    url('../fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nunito-sans-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-sans-600 - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: 
    url('../fonts/nunito-sans-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nunito-sans-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-sans-800 - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: 
    url('../fonts/nunito-sans-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nunito-sans-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root{
    --header-bgcolor:#fff;
    --body-bgcolor:#f2f2f2;
    --main-font-family: "Nunito Sans", "Arial", sans-serif;
    --text-color:#111517;
    --card-border-radius:5px;
    --form-color:#fff;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family:var(--main-font-family);
    background-color: var(--body-bgcolor);
    color: var(--text-color);
    transition: color 0.5s ease, background-color 0.5s ease;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.theme-dark{
    --header-bgcolor:#2B3844;
    --text-color:#fff;
    --body-bgcolor:#202C36;
    --form-color:#2B3844;
}

img{
    display: inline-block;
}

.header{
    background-color: var(--header-bgcolor);
    color: var(--text-color);

    box-shadow: 0px 2px 4px #0000000e;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
    
}

.site-logo{
    color: var(--text-color);
}

a{
    text-decoration: none;
}

.header-btn{
    padding: 0;
    padding-left: 28px;
    font-family:  var(--main-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    background-color: transparent;
    background-image: url("../images/path.svg");
    background-position: left center;
    background-repeat: no-repeat;
    border: none;
    
}

.theme-dark .header-btn{
    background-image: url("../images/path-dark.svg");
}

.theme-dark select{
    border-right: 10px solid #2B3844;
}


.hero{
    padding-top: 48px;
}

.hero--active{
    padding: 80px 0;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

form label{
    width: 100%;
    max-width: 480px;
}



input{
    width: 100%;
    max-width: 480px;
    padding: 18px 15px 17px 58px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 8px;
    content: "";
    background-image: url(../images/search.png);
    background-position:calc(50% - 206px) calc(50% + 0px);
    background-repeat: no-repeat;
    color: var(--text-color);
    outline: none;
    background-color: var(--form-color);
    border: none;
    border-radius: 5px;
    /* animation: img .01s infinite; */
}

.theme-dark  input::placeholder{
    color: #fff;
}


/* img va formlaga psevdo klassla ishlatilmaydi */

input:focus{
    /* box-shadow: 5px 25px  9px rgba(0, 0, 0, 0.0532439); */
    border: 2px solid grey
}

select{
    width: 200px;
    font-family: "Nunito Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
    background-color: var(--form-color);
    padding: 18px 24px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border: none;
    border-radius: 5px;
    border-right: 10px solid #fff;
}

.country-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.country-item{
    width: 264px; 
    background-color: var(--form-color);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
    border-radius: 5px;
}

.country-item:nth-child(4){
    margin-right: 0;
}

.item-txt{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color);
    padding: 24px 24px;
}

h3{
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: var(--text-color)
}

.belguim{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;  
    color: var(--text-color);
    
}

.buttons{
    color: var(--text-color);
}

.belgium-mobile{
    display: none;
}

/* imtixonda logo va nav margin auto bilan qilinadi */

@media only screen and (max-width: 703px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    form label {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 617px) {
    .belgium-img{
        display: none;
    }

    .belgium-mobile {
        display: inline-block;
        width: 100%;
    }
}

@media only screen and (max-width: 568px) {
    .site-logo svg{
        width: 135px;
    }
    
    input{
        max-width: 343px;
        background-position: calc(50% - 141px);
    }
    
    .country-list{
        justify-content: center;
    }
}


@media only screen and (max-width: 373px) {
    input{
        background-position: calc(8%);
    }
}


